{%extends "base.html"%}


{%block content%}
<div class="container well">
<h1 class="hometitle">Welcome to MTS Money Transfer Systems</h1>
<div class="mainelement">
<ul class="nav nav-pills nav-stacked list-unstyled">
	<li><a href="{% url 'transactions' %}"><span class="glyphicon glyphicon-usd"></span>Transactions</a></li>
	<li><a href="{% url 'operations' %}"><span class="glyphicon glyphicon-wrench"></span>Operations</a></li>
	<li><a href="{% url 'reporting' %}"><span class="glyphicon glyphicon-dashboard"></span>Reporting</a></li>
</ul>
</div>

	
</div>
{% endblock %}