{%extends "base.html"%}
{% load humanize %}

{%block content%}


<div class="container-fluid">

{% if transactions %}
<h1> List of pending operations</h1>
<table class="operation-table">
	<thead>
        <tr>
          <th scope="col">N<sup>o</sup></th>
          <th scope="col">Date</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Sender Name</th>
          <th scope="col">Sender Phone</th>
          <th scope="col">Beneficiary Name</th>
          <th scope="col">Beneficiary Adress</th>
          <th scope="col">Beneficiary Phone</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col" class="purpose">Purpose</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
      	{% for trans in transactions %}
      	<tr>
      		<th scope="row">{{forloop.counter}}</th>
      		<td>{{trans.date|date:"SHORT_DATE_FORMAT"}}</td>
      		<td>{{trans.origin}}</td>
      		<td>{{trans.destination}}</td>
      		<td>{{trans.sender_name}}</td>
      		<td>{{trans.sender_phone}}</td>
      		<td>{{trans.receiver_name}}</td>
      		<td>{{trans.receiver_location}}</td>
      		<td>{{trans.receiver_phone}}</td>
      		<td>{{trans.amount|intcomma}}</td>
      		<td>{{trans.currency}}</td>
      		<td>{{trans.purpose}}</td>
      		<td><button class="btn-operation" data-pk={{trans.pk}}>OK</button></td>

      	</tr>
      	{% endfor %}
      </tbody>
      <tfoot>
      	
      </tfoot>
</table>

{% else %}
<h3>No transaction yet</h3>
{% endif %}





{% endblock %}