{%extends "base.html"%}
{% load humanize %}


{%block content%}

 


<div class="container-fluid">

{% if reports %}
<h1> Reporting table </h1>
<div id="baseDateControl">
<div class="dateControlBlock">
<input type="text" id="dateStart" placeholder="From"  /> 
<input type="text" id="dateEnd" placeholder="To"  /> 
</div>
</div>


<table id="table_id" class="display reporting-table">
	<thead>
        <tr>
          <th scope="col">N<sup>o</sup></th>
          <th scope="col">Date</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Sender Name</th>
          <th scope="col">Sender Phone</th>
          <th scope="col">Beneficiary Name</th>
          <th scope="col">Beneficiary Adress</th>
          <th scope="col">Beneficiary Phone</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col" class="purpose">Purpose</th>
        </tr>
      </thead>
      <tbody>
      	{% for trans in reports %}
      	<tr>
      		<th scope="row">{{forloop.counter}}</th>
      		<td>{{trans.date|date:"SHORT_DATE_FORMAT"}}</td>
      		<td>{{trans.origin}}</td>
      		<td>{{trans.destination}}</td>
      		<td>{{trans.sender_name}}</td>
      		<td>{{trans.sender_phone}}</td>
      		<td>{{trans.receiver_name}}</td>
      		<td>{{trans.receiver_location}}</td>
      		<td>{{trans.receiver_phone}}</td>
      		<td>{{trans.amount|intcomma}}</td>
      		<td>{{trans.currency}}</td>
      		<td>{{trans.purpose}}</td>

      	</tr>
      	{% endfor %}
      </tbody>
      <tfoot>
      <tr>
          <th scope="row" colspan="2">Total</th>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
           <td colspan="2"></td>
        </tr>
      	
      </tfoot>
</table>

{% else %}
<h3>No transaction yet</h3>
{% endif %}
</div>



	
{% endblock %}