body{
	background-color: #e3e3e3;
}

.log-form{
	width: 50%;
	margin-top: 10%;
}

.hometitle{
	color: blue;
}

.mainelement li{
	font-size: 150%;
	margin-bottom: 2%;
	border: 1px solid grey;
	font-weight: 400;
	width: 50%;
	text-align: center;
	border-radius: 10px;
}

.mainelement span{
	margin-right: 2%;
	font-size: 120%;
	color: blue;
}
/*****************************************/
    /*transaction.ht styling*/
/*****************************************/
.trans-title{
	color: blue;
}


/*****************************************/
  /*end transaction.ht styling*/
/*****************************************/

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid blue;
}

table td, table th {
  border : 1px solid blue;
  padding: 0.5em 0.5em 0.4em;
}

table tfoot td, table tfoot th{
	border: 0 solid;
}

.operation-table, .reporting-table{
	margin-top: 2%;
}

.reporting-table{
	margin-bottom: 20%;
}

.summary-table{
	font-weight: 500;
	font-size: 120%;
}

.summary-table 
.nav-log{
	font-size: 180%;
	color: blue;
}





@media (max-width: 490px) {
	body{
		font-size: 150%;
	}
	.log-form{
		width: 100%;
	}

	.mainelement li{
		width: 100%;
		margin-bottom: 4%;
		font-size: 160%;
	}

	.hometitle{
		font-size: 150%;
		font-style: bold;
		text-align: center;
	}

    .summary-table{
	font-weight: 400;
	font-size: 150%;

}